@charset "CP850";
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: none; }

body {
  background: #e6e6e6; }

#map-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.3; }

#map {
  width: 100%;
  height: 100%; }

#container {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0; }

#container p {
  font-size: 15px;
  line-height: 1.5;
  text-align: left; }

#map {
  z-index: 0;
  height: 100%;
  width: 100%;
  position: relative;
  display: inline-block; }

/*Karta - infowindow*/
.gm-style-iw {
  width: 200px;
  margin: 0 0 0 3px;
  overflow: none;
  line-height: 25px; }
  .gm-style-iw img {
    width: 90%; }

/*
*
* Lemonade v1.1
* Copyright 2013, Joe Richardson
* lemonade.im
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*
*/
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Set the width of the grid */
.frame {
  margin: 0 auto; }

/* Attribute selector */
[class*='bit-'] {
  float: left;
  padding: 0.3em; }

/* Floats last ".bit-" to the right */
/* Clearfix */
.frame:after {
  content: "";
  display: table;
  clear: both; }

/* Main Widths */
.bit-1 {
  width: 100%; }

.bit-2 {
  width: 50%; }

.bit-3 {
  width: 33.33%; }

.bit-4 {
  width: 25%; }

.bit-5 {
  width: 20%; }

.bit-6 {
  width: 16.66667%; }

.bit-7 {
  width: 14.28571%; }

.bit-8 {
  width: 12.5%; }

.bit-9 {
  width: 11.11111%; }

.bit-10 {
  width: 10%; }

.bit-11 {
  width: 9.09091%; }

.bit-12 {
  width: 8.33%; }

/* Landscape mobile & down */
@media (max-width: 30em) {
  .bit-1,
  .bit-2,
  .bit-3,
  .bit-4,
  .bit-5,
  .bit-6,
  .bit-7,
  .bit-8,
  .bit-9,
  .bit-10,
  .bit-11,
  .bit-12 {
    width: 100%; } }
/* Portrait tablet to landscape */
@media (min-width: 30em) and (max-width: 50em) {
  .bit-4,
  .bit-6,
  .bit-8,
  .bit-10,
  .bit-12 {
    width: 50%; }

  .bit-1,
  .bit-2,
  .bit-3,
  .bit-5,
  .bit-7,
  .bit-9,
  .bit-11 {
    width: 100%; } }
/* Landscape to small desktop */
@media (min-width: 50em) and (max-width: 68.75em) {
  .bit-2,
  .bit-7 {
    width: 100%; }

  .bit-4,
  .bit-8,
  .bit-10,
  .bit-12 {
    width: 50%; } }
/*
* Variabler för färgkoder
*
*
*
*/
.clearfix {
  clear: both; }

.group:after {
  content: "";
  display: table;
  clear: both; }

/*div:ar*/
#form {
  width: 300px;
  float: left; }

/*add.php*/
#searchResult {
  width: 200px;
  height: 220px;
  float: left;
  margin-right: 5px;
  padding-left: 5px; }
  #searchResult img {
    width: 90%; }
  #searchResult h4 {
    margin-top: 9px;
    margin-bottom: 10px; }

/*om-sidan*/
#om {
  background-color: #f6f6f6;
  background-image: linear-gradient(top, #f6f6f6, #eae8e8);
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: #dedede #bababa #aaa #bababa;
  width: 292px;
  margin-left: -2px;
  margin-top: 80px;
  margin-bottom: 5px;
  padding: 5px 8px 15px 12px; }

#searchContent {
  background-color: #f6f6f6;
  background-image: linear-gradient(top, #f6f6f6, #eae8e8);
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: #dedede #bababa #aaa #bababa;
  width: 295px;
  margin-left: -2px;
  margin-top: 2px;
  margin-bottom: 5px;
  padding: 5px 8px 15px 12px; }
  #searchContent img {
    margin-left: -2px; }
  #searchContent h4 {
    margin-top: 5px;
    color: #f9bcbe; }

#places {
  display: none;
  background-color: #f6f6f6;
  background-image: linear-gradient(top, #f6f6f6, #eae8e8);
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: #dedede #bababa #aaa #bababa;
  width: 295px;
  height: 100px;
  float: left;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: -5px;
  margin-top: 75px;
  padding: 5px 8px 15px 12px; }

/*sökfältet i search.php*/
#searchbox {
  background-color: #f6f6f6;
  background-image: linear-gradient(top, #f6f6f6, #eae8e8);
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: #dedede #bababa #aaa #bababa;
  width: 295px;
  height: 120px;
  padding: 5px;
  margin: 80px 0 0 -3px;
  overflow: hidden;
  /* Clear floats */ }
  #searchbox h3 {
    margin: 8px; }

#search,
#submit {
  float: none; }

#search {
  padding: 5px 9px;
  margin: 2px 0 0 5px;
  height: 23px;
  width: 270px;
  border: 1px solid #a4c3ca;
  font: normal 13px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
  background: #f1f1f1;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 white; }

/* ----------------------- */
#submit {
  background-color: #66bbc0;
  border-radius: 3px 3px 3px 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #7eba7c #578e57 #447d43;
  /*box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 
              0 1px 0 rgba(255, 255, 255, 0.3) inset;*/
  height: 23px;
  margin: 10px 0 0 5px;
  padding: 0;
  width: 270px;
  cursor: pointer;
  font: bold 12px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #fff; }

#submit:hover {
  background-color: #95d788;
  background-image: linear-gradient(#6cbb6b, #95d788); }

#submit:active {
  background: #95d788;
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset; }

#submit::-moz-focus-inner {
  border: 0;
  /* Small centering fix for Firefox */ }

/*Betygsätt*/
#submit2 {
  background-color: #66bbc0;
  border-radius: 3px 3px 3px 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #7eba7c #578e57 #447d43;
  /*box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 
              0 1px 0 rgba(255, 255, 255, 0.3) inset;*/
  height: 23px;
  margin: 8px 0 0 1px;
  padding: 0;
  width: 70px;
  cursor: pointer;
  font: bold 12px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #fff; }

#submit2:hover {
  background-color: #95d788;
  background-image: linear-gradient(#6cbb6b, #95d788); }

#submit2:active {
  background: #95d788;
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset; }

#submit2::-moz-focus-inner {
  border: 0;
  /* Small centering fix for Firefox */ }

.bit-3 h3 {
  margin-left: 0px; }
.bit-3 p {
  font-size: 15px; }

/*föreslå en plats-sidan*/
/*formulär*/
#addbox {
  background-color: #f6f6f6;
  background-image: linear-gradient(top, #f6f6f6, #eae8e8);
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: #dedede #bababa #aaa #bababa;
  width: 300px;
  padding: 5px;
  margin: 75px 0 5px -6px;
  overflow: hidden;
  /* Clear floats */ }
  #addbox p {
    padding-left: 5px;
    padding-bottom: 2px;
    padding-top: 7px;
    color: #66bbc0; }
  #addbox h3 {
    padding-left: 5px; }

#insertText {
  padding: 5px 9px;
  margin: 2px 0 0 5px;
  width: 275px;
  border: 1px solid #a4c3ca;
  font: normal 13px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
  background: #f1f1f1;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 white; }

#submitAdd {
  background-color: #66bbc0;
  border-radius: 3px 3px 3px 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #7eba7c #578e57 #447d43;
  /*box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 
              0 1px 0 rgba(255, 255, 255, 0.3) inset;*/
  height: 23px;
  margin: 10px 0 5px 5px;
  padding: 0;
  width: 275px;
  cursor: pointer;
  font: bold 12px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #fff; }

#submitAdd:hover {
  background-color: #95d788;
  background-image: linear-gradient(#6cbb6b, #95d788); }

#submitAdd:active {
  background: #95d788;
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset; }

#submitAdd::-moz-focus-inner {
  border: 0;
  /* Small centering fix for Firefox */ }

/********************
MOBILER & FALLBACK
Grundinställningar för stylen på sidan.
Denna används när de andra media-querysarna inte matchas.
Här finns mobilanpassningen.
*********************/
html, body {
  height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background: #e6e6e6; }

h1, h2, h3, h5 {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0px;
  color: #66bbc0; }

h4 {
  margin-bottom: -15px;
  color: #66bbc0; }

/***************************
MENYN
*****************************/
#menu {
  z-index: 3;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  background: #66bbc0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  #menu p {
    color: #f9bcbe;
    font-size: 26px;
    float: left;
    margin-left: 20px;
    margin-top: 18px; }
  #menu img {
    margin-left: 20px;
    padding-top: 5px;
    float: left; }
  #menu #cat-butt {
    float: right;
    color: white;
    font-size: 32px;
    margin-right: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: all 0.7s; }
  #menu :after {
    clear: both; }

#map {
  z-index: 0;
  height: 100%;
  width: 100%;
  position: relative;
  display: inline-block; }

#categories {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 70px;
  right: -100%;
  background: #f9bcbe;
  transition: all 0.7s; }
  #categories ul {
    padding-top: 10px; }
    #categories ul li {
      background: #fccfcf;
      padding-left: 10px;
      list-style: none;
      margin-bottom: 2px; }
      #categories ul li:hover {
        cursor: pointer; }
      #categories ul li:hover {
        background: #f9bcbe; }
      #categories ul li a {
        font-size: 22px;
        text-decoration: none;
        color: white; }
  #categories #botten {
    position: absolute;
    bottom: 70px;
    width: 100%; }

#container {
  margin: 0 15px; }
  #container .bit-3 {
    margin-bottom: 30px; }
    #container .bit-3 img {
      width: 100%; }
  #container p {
    font-size: 15px;
    line-height: 1.5; }

/*********************
TABLET & MINDRE LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 768px) {
  /*logotyp*/
  #menu img {
    margin-left: 13%;
    padding-top: 5px;
    float: left; }

  #map-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.3; }

  #map {
    width: 100%;
    height: 100%; }

  #container {
    width: 750px;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding-left: 10px; }

  /*#map {
    z-index: 0;
    height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
    overflow:none;
  }*/
  .gm-style-iw {
    width: 270px;
    margin: 0 0 0 3px;
    overflow: none;
    line-height: 25px; }
    .gm-style-iw img {
      width: 100%; }

  /*div:ar*/
  #form {
    width: 970px;
    float: left; }

  #places {
    display: inherit;
    background-color: #f6f6f6;
    background-image: linear-gradient(top, #f6f6f6, #eae8e8);
    border-width: 1px;
    border-style: solid;
    border-color: #dedede #bababa #aaa #bababa;
    width: 720px;
    height: 240px;
    float: left;
    overflow-x: hidden;
    /*for horizontal scroll bar */
    overflow-y: scroll;
    margin-left: -5px;
    margin-top: 80px;
    padding: 5px 8px 15px 12px; }

  /*add.php*/
  #searchResult {
    width: 200px;
    height: 220px;
    float: left;
    margin-right: 5px;
    padding-left: 5px; }
    #searchResult img {
      width: 90%;
      height: 120px; }
    #searchResult h4 {
      margin-top: 15px;
      margin-bottom: 10px; }

  /*-----------------*/
  #searchContent {
    background-color: #f6f6f6;
    background-image: linear-gradient(top, #f6f6f6, #eae8e8);
    border-width: 1px;
    border-style: solid;
    border-color: #dedede #bababa #aaa #bababa;
    width: 32%;
    margin-left: -4px;
    margin-top: 5px;
    padding: 5px 8px 15px 12px;
    float: left;
    margin-right: 10px; }
    #searchContent h4 {
      margin-top: 5px;
      color: #f9bcbe; }
    #searchContent img {
      margin-left: -2px;
      max-width: 100%; }

  #searchContent1 {
    width: 851px;
    float: left; }

  .group:after {
    content: "";
    display: table;
    clear: both; }

  /*föreslå en plats-sidan*/
  /*formulär*/
  #addbox {
    background-color: #f6f6f6;
    background-image: linear-gradient(top, #f6f6f6, #eae8e8);
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #dedede #bababa #aaa #bababa;
    width: 720px;
    padding: 5px 0 15px 10px;
    margin: 5px 0 15px -5px;
    overflow: hidden;
    /* Clear floats */ }
    #addbox p {
      padding-left: 5px;
      padding-bottom: 2px;
      padding-top: 7px;
      color: #66bbc0;
      font-size: 18px; }
    #addbox h3 {
      padding-left: 5px; }

  #insertText {
    padding: 5px 9px;
    margin: 2px 0 0 5px;
    width: 500px;
    border: 1px solid #a4c3ca;
    font: normal 18px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
    background: #f1f1f1;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 white; }

  #submitAdd {
    background-color: #66bbc0;
    border-radius: 3px 3px 3px 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;
    /*box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 
                0 1px 0 rgba(255, 255, 255, 0.3) inset;*/
    height: 23px;
    margin: 10px 0 0 5px;
    padding: 0;
    width: 500px;
    height: 35px;
    cursor: pointer;
    font: bold 15px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #fff; }

  #submitAdd:hover {
    background-color: #95d788;
    background-image: linear-gradient(#6cbb6b, #95d788); }

  #submitAdd:active {
    background: #95d788;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset; }

  #submitAdd::-moz-focus-inner {
    border: 0;
    /* Small centering fix for Firefox */ }

  /*sökfältet i search.php*/
  #searchbox {
    background-color: #f6f6f6;
    /*background-image: linear-gradient(top, #f6f6f6, #eae8e8);*/
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #dedede #bababa #aaa #bababa;
    max-width: 755px;
    height: 120px;
    padding: 5px;
    margin: 80px 0 0 -3px;
    overflow: hidden;
    /* Clear floats */ }
    #searchbox h3 {
      margin: 8px; }

  #search,
  #submit {
    float: left; }

  #search {
    padding: 5px 9px;
    margin: 2px 0 0 5px;
    height: 40px;
    width: 82%;
    border: 1px solid #a4c3ca;
    font: normal 20px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
    background: #f1f1f1;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 white; }

  /* ----------------------- */
  #submit {
    background-color: #66bbc0;
    border-radius: 3px 3px 3px 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;
    /*box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 
                0 1px 0 rgba(255, 255, 255, 0.3) inset;*/
    height: 39px;
    margin: 2px 0 0 5px;
    padding: 0;
    max-width: 15%;
    cursor: pointer;
    font: bold 20px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #fff; }

  #submit:hover {
    background-color: #95d788;
    background-image: linear-gradient(#6cbb6b, #95d788); }

  #submit:active {
    background: #95d788;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset; }

  #submit::-moz-focus-inner {
    border: 0;
    /* Small centering fix for Firefox */ } }
/*********************
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 1030px) {
  /*logotyp*/
  #menu img {
    margin-left: 72px;
    padding-top: 5px;
    float: left; }

  #map-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.3; }

  #map {
    width: 100%;
    height: 100%; }

  #container {
    width: 890px;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding-left: 10px; }

  /*#map {
    z-index: 0;
    height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
    overflow:none;
  }*/
  .gm-style-iw {
    width: 270px;
    margin: 0 0 0 3px;
    overflow: none;
    line-height: 25px; }
    .gm-style-iw img {
      width: 100%; }

  /*div:ar*/
  #form {
    width: 970px;
    float: left; }

  #places {
    display: inherit;
    background-color: #f6f6f6;
    background-image: linear-gradient(top, #f6f6f6, #eae8e8);
    border-width: 1px;
    border-style: solid;
    border-color: #dedede #bababa #aaa #bababa;
    width: 859px;
    height: 240px;
    float: left;
    overflow-x: hidden;
    /*for horizontal scroll bar */
    overflow-y: scroll;
    margin-left: -5px;
    margin-top: 80px;
    padding: 5px 8px 15px 12px; }

  /*add.php*/
  #searchResult {
    width: 200px;
    height: 220px;
    float: left;
    margin-right: 5px;
    padding-left: 5px; }
    #searchResult img {
      width: 90%;
      height: 120px; }
    #searchResult h4 {
      margin-top: 15px;
      margin-bottom: 10px; }

  /*-----------------*/
  #searchContent {
    background-color: #f6f6f6;
    background-image: linear-gradient(top, #f6f6f6, #eae8e8);
    border-width: 1px;
    border-style: solid;
    border-color: #dedede #bababa #aaa #bababa;
    width: 32%;
    margin-left: -4px;
    margin-top: 5px;
    padding: 5px 8px 15px 12px;
    float: left;
    margin-right: 10px; }
    #searchContent h4 {
      margin-top: 5px;
      color: #f9bcbe; }
    #searchContent img {
      margin-left: -2px; }

  #searchContent1 {
    width: 851px;
    float: left; }

  .group:after {
    content: "";
    display: table;
    clear: both; }

  /*föreslå en plats-sidan*/
  /*formulär*/
  #addbox {
    background-color: #f6f6f6;
    background-image: linear-gradient(top, #f6f6f6, #eae8e8);
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #dedede #bababa #aaa #bababa;
    width: 859px;
    padding: 5px 0 15px 10px;
    margin: 5px 0 15px -5px;
    overflow: hidden;
    /* Clear floats */ }
    #addbox p {
      padding-left: 5px;
      padding-bottom: 2px;
      padding-top: 7px;
      color: #66bbc0;
      font-size: 15px; }
    #addbox h3 {
      padding-left: 5px; }

  #insertText {
    padding: 5px 9px;
    margin: 2px 0 0 5px;
    width: 825px;
    border: 1px solid #a4c3ca;
    font: normal 18px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
    background: #f1f1f1;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 white; }

  #submitAdd {
    background-color: #66bbc0;
    border-radius: 3px 3px 3px 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;
    /*box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 
                0 1px 0 rgba(255, 255, 255, 0.3) inset;*/
    height: 23px;
    margin: 10px 0 0 5px;
    padding: 0;
    min-width: 825px;
    height: 35px;
    cursor: pointer;
    font: bold 15px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #fff; }

  #submitAdd:hover {
    background-color: #95d788;
    background-image: linear-gradient(#6cbb6b, #95d788); }

  #submitAdd:active {
    background: #95d788;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset; }

  #submitAdd::-moz-focus-inner {
    border: 0;
    /* Small centering fix for Firefox */ }

  /*sökfältet i search.php*/
  #searchbox {
    background-color: #f6f6f6;
    /*background-image: linear-gradient(top, #f6f6f6, #eae8e8);*/
    /*border-radius: 15px;    */
    border-width: 1px;
    border-style: solid;
    border-color: #dedede #bababa #aaa #bababa;
    min-width: 828px;
    height: 120px;
    padding: 5px;
    margin: 80px 0 0 -3px;
    overflow: hidden;
    /* Clear floats */ }
    #searchbox h3 {
      margin: 8px; }

  #search,
  #submit {
    float: left; }

  #search {
    padding: 5px 9px;
    margin: 2px 0 0 5px;
    height: 40px;
    width: 660px;
    border: 1px solid #a4c3ca;
    font: normal 20px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
    background: #f1f1f1;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 white; }

  /* ----------------------- */
  #submit {
    background-color: #66bbc0;
    border-radius: 3px 3px 3px 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;
    /*box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 
                0 1px 0 rgba(255, 255, 255, 0.3) inset;*/
    height: 39px;
    margin: 2px 0 0 5px;
    padding: 0;
    min-width: 140px;
    cursor: pointer;
    font: bold 20px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #fff; }

  #submit:hover {
    background-color: #95d788;
    background-image: linear-gradient(#6cbb6b, #95d788); }

  #submit:active {
    background: #95d788;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset; }

  #submit::-moz-focus-inner {
    border: 0;
    /* Small centering fix for Firefox */ } }
/*
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*/
@media only screen and (min-width: 1240px) {
  /*logotyp*/
  #menu img {
    margin-left: 13.5%;
    padding-top: 5px;
    float: left; }

  #map-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.3; }

  #map {
    width: 100%;
    height: 100%; }

  #container {
    width: 100%;
    max-width: 960px;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding-left: 10px; }

  /*#map {
    z-index: 0;
    height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
    overflow:none;
  }*/
  .gm-style-iw {
    width: 270px;
    margin: 0 0 0 3px;
    overflow: none;
    line-height: 25px; }
    .gm-style-iw img {
      width: 100%; }

  /*div:ar*/
  #form {
    width: 970px;
    float: left; }

  #places {
    display: inherit;
    background-color: #f6f6f6;
    background-image: linear-gradient(top, #f6f6f6, #eae8e8);
    border-width: 1px;
    border-style: solid;
    border-color: #dedede #bababa #aaa #bababa;
    width: 970px;
    height: 240px;
    float: left;
    overflow-x: hidden;
    /*for horizontal scroll bar */
    overflow-y: scroll;
    margin-left: -5px;
    margin-top: 80px;
    padding: 5px 8px 15px 12px; }

  /*add.php*/
  #searchResult {
    width: 200px;
    height: 220px;
    float: left;
    margin-right: 5px;
    padding-left: 5px; }
    #searchResult img {
      width: 90%;
      height: 120px; }
    #searchResult h4 {
      margin-top: 15px;
      margin-bottom: 10px; }

  /*-----------------*/
  #searchContent {
    background-color: #f6f6f6;
    background-image: linear-gradient(top, #f6f6f6, #eae8e8);
    border-width: 1px;
    border-style: solid;
    border-color: #dedede #bababa #aaa #bababa;
    width: 32%;
    margin-left: -4px;
    margin-top: 5px;
    padding: 5px 8px 15px 12px;
    float: left;
    margin-right: 10px; }
    #searchContent h4 {
      margin-top: 5px;
      color: #f9bcbe; }
    #searchContent img {
      margin-left: -2px; }

  #searchContent1 {
    width: 855px;
    margin: 0 auto; }

  .group:after {
    content: "";
    display: table;
    clear: both; }

  /*föreslå en plats-sidan*/
  /*formulär*/
  #addbox {
    background-color: #f6f6f6;
    background-image: linear-gradient(top, #f6f6f6, #eae8e8);
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #dedede #bababa #aaa #bababa;
    width: 970px;
    padding: 5px 0 15px 10px;
    margin: 5px 0 15px -5px;
    overflow: hidden;
    /* Clear floats */ }
    #addbox p {
      padding-left: 5px;
      padding-bottom: 2px;
      padding-top: 7px;
      color: #66bbc0;
      font-size: 18px; }
    #addbox h3 {
      padding-left: 5px; }

  #insertText {
    padding: 5px 9px;
    margin: 2px 0 0 5px;
    width: 900px;
    border: 1px solid #a4c3ca;
    font: normal 18px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
    background: #f1f1f1;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 white; }

  #submitAdd {
    background-color: #66bbc0;
    border-radius: 3px 3px 3px 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;
    /*box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 
                0 1px 0 rgba(255, 255, 255, 0.3) inset;*/
    height: 23px;
    margin: 10px 0 0 5px;
    padding: 0;
    width: 900px;
    height: 35px;
    cursor: pointer;
    font: bold 15px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #fff; }

  #submitAdd:hover {
    background-color: #95d788;
    background-image: linear-gradient(#6cbb6b, #95d788); }

  #submitAdd:active {
    background: #95d788;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset; }

  #submitAdd::-moz-focus-inner {
    border: 0;
    /* Small centering fix for Firefox */ }

  /*sökfältet i search.php*/
  #searchbox {
    background-color: #f6f6f6;
    /*background-image: linear-gradient(top, #f6f6f6, #eae8e8);*/
    /*border-radius: 15px;    */
    border-width: 1px;
    border-style: solid;
    border-color: #dedede #bababa #aaa #bababa;
    max-width: 833px;
    height: 120px;
    padding: 5px;
    margin: 80px 0 0 -3px;
    overflow: hidden;
    /* Clear floats */ }
    #searchbox h3 {
      margin: 8px; }

  #search,
  #submit {
    float: left; }

  #search {
    padding: 5px 9px;
    margin: 2px 0 0 5px;
    height: 40px;
    width: 685px;
    border: 1px solid #a4c3ca;
    font: normal 20px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
    background: #f1f1f1;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 white; }

  /* ----------------------- */
  #submit {
    background-color: #66bbc0;
    border-radius: 3px 3px 3px 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;
    /*box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 
                0 1px 0 rgba(255, 255, 255, 0.3) inset;*/
    height: 39px;
    margin: 2px 0 0 5px;
    padding: 0;
    width: 140px;
    cursor: pointer;
    font: bold 20px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #fff; }

  #submit:hover {
    background-color: #95d788;
    background-image: linear-gradient(#6cbb6b, #95d788); }

  #submit:active {
    background: #95d788;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset; }

  #submit::-moz-focus-inner {
    border: 0;
    /* Small centering fix for Firefox */ } }
