
html, body {
	height: 100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
    background: #e6e6e6;
}

h1, h2, h3, h4 ,h5 {
    margin-top:15px;
    margin-bottom:15px;
    margin-left:5px;
	color: $turkos;
}

/***************************
MENYN
*****************************/
#menu {
	z-index: 3;
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0;
	background: $turkos;
	
	// Tillfälligt så att man inte markerar pluset vid tryck.
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;

	p {
		color: $rosa;
		font-size: 26px;
		float: left;
		margin-left: 20px;
		margin-top: 18px;
	}
	
	img {
		margin-left: 20px;
		padding-top: 5px;
		float: left;
	}
	
	#cat-butt {
		float: right;
		color: white;
		font-size: 32px;
		margin-right: 20px;
		margin-top: 15px;
		cursor: pointer;
		transition: all 0.7s;
	}

	:after {clear: both}
}

#map {
	z-index: 0;
	height: 70%;
	width: 100%;
	position: relative;
	display: inline-block;
}

#categories {
	z-index: 2;
	width: 100%;
	height: 100%; //550px;
	position: fixed;
	top: 70px;
	right: -100%;
	background: $rosa;
	transition: all 0.7s;
	
	ul {
		padding-top: 10px;

		li {
			background: #fccfcf;
			padding-left: 10px;
			list-style: none;
			//border-bottom: 2px solid white;
			margin-bottom: 2px;
			&:hover {cursor: pointer;}
			&:hover {background: $rosa;}

			a {
				font-size: 22px;
				text-decoration: none;
				color: white;
			}
		}
	}

	#botten {
		position: absolute;
		bottom: 70px;
		width: 100%;
	}
}


#container {
	margin: 0 15px;

	.bit-3 {
		margin-bottom: 30px;

		img {
			width: 100%;
			// Skala bilden
		}
	}
	
	p {

	font-size: 15px;
	line-height: 1.5;
	//text-align: justify;
	}
}



